//
// Misc: Miscellaneous
//

// Image sizes
.img-size-64,
.img-size-50,
.img-size-32 {
  height: auto;
}

.img-size-64 {
  width: 64px;
}

.img-size-50 {
  width: 50px;
}

.img-size-32 {
  width: 32px;
}

// Dashboard blue shades
.text-bg-blue-100 {
  background-color: #e7f1ff !important;
  color: #084298 !important;
}

.text-bg-blue-300 {
  background-color: #6ea8fe !important;
  color: #fff !important;
}

.text-bg-blue-500 {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.text-bg-blue-700 {
  background-color: #084298 !important;
  color: #fff !important;
}

.text-bg-blue-900 {
  background-color: #031633 !important;
  color: #fff !important;
}

.bg-blue-100 {
  background-color: #e7f1ff !important;
}

.bg-blue-300 {
  background-color: #6ea8fe !important;
}

.bg-blue-500 {
  background-color: #0d6efd !important;
}

.bg-blue-700 {
  background-color: #084298 !important;
}
